body {
	background-color: #053787;
	color: white;
	text-align: center;
	margin-top: 100px;
}

/* #buttonRegister {
	height: 100px;
	width: 500px;
	font-size: 50px;
}
 */

#gif {
	margin-top: 60px;
}

h1 {
	color: white;
	font-size: 60px;
}

.btn {
	height: 100px;
	width: 500px;
	font-size: 50px;
	margin-top: 30px;
}

input[type="text"]{
	font-size: 40px;
	text-align: center;
}

/* #username {
	height: 100px;
	width: 500px;
	font-size: 50px;
	margin-top: 30px;
	background-color: gray;
}

#country{
	height: 100px;
	width: 500px;
	font-size: 50px;
	margin-top: 30px;
	background-color: gray; */